snippet comment "proc comment" b
; -----------------------------------------------------------------------------
; Name: $1
;
; ${2:Overall decription of procedure}
;
; Preconditions: $3
;
; Postconditions: $4
;
; Receives: $5
;
; Returns: $6
; -----------------------------------------------------------------------------
endsnippet
